<div class="bottom-nav">
  <div class="bottom-nav-grid">
    <button type="button" class="bottom-nav-btn active rounded-s-lg">
      <i class="material-symbols-outlined">group</i>
      <p class="text-sm">Customers</p>
    </button>
    <button type="button" class="bottom-nav-btn">
      <i class="material-symbols-outlined">stacks</i>
      <p class="text-sm">Inventory</p>
    </button>
    <button type="button" class="bottom-nav-btn">
      <i class="material-symbols-outlined">calendar_month</i>
      <p class="text-sm">Calendar</p>
    </button>
    <button type="button" class="bottom-nav-btn rounded-e-lg">
      <i class="material-symbols-outlined">settings</i>
      <p class="text-sm">Settings</p>
    </button>
  </div>
</div>