<nav class="navbar">
  <a href="#!" class="navbar-link">
    <i class="material-icons icon-base">home</i>
    <p class="text-xl">Match</p>
  </a>
  <div class="flex items-center gap-10">
    <div class="flex items-center gap-6 px-4">
      <div class="navbar-profile">
        <img class="h-6" src="/avatar.png" alt="Avatar">
        <p class="text-base text-onPrimary10">Profile</p>
      </div>
      <i class="material-symbols-outlined icon-base">notifications</i>
    </div>
    <div class="flex items-center gap-10">
      <i class="material-icons icon-sm">remove</i>
      <i class="material-icons icon-sm">content_copy</i>
      <i class="material-icons icon-sm">close</i>
    </div>
  </div>
</nav>