@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import '@fontsource/quicksand';
@import 'material-symbols';
@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #181818;
  --primary10: #202020;
  --primary20: #2C2C2C;
  --primary30: #2F2F2F;
  --secondary: #B4891C;
  --secondary10: #DA9B3E;
  --neutral: #D9D9D9;
  --neutral10: #848484;
  --tertiary: #2065C8;
  --onPrimary: #F9F9FB;
  --onPrimary10: #FFFFFF;
  --onMuted: #E0E0E0;
}


body {
  font-family: 'Quicksand', sans-serif;
}

a {
  line-height: 1;
}


.icon {
  @apply leading-none;
}

.icon-base {
  @apply icon text-2xl;
}

.icon-sm {
  @apply icon text-base;
}

.icon-lg {
  @apply icon text-3xl;
}

.simplebar-track.simplebar-vertical {
  @apply bg-transparent;
}

.simplebar-scrollbar:before {
  @apply hidden;
}

.simplebar-scrollbar {
  top: -10px;
  width: 6px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: none;
  border: none;
  z-index: 10;
}

.navbar {
  @apply flex items-center justify-between h-16 p-4 bg-primary text-onMuted;
}

.navbar-link {
  @apply flex items-center gap-4 text-base font-normal;
}

.navbar-profile {
  @apply flex items-center gap-3 py-4;
}

.customer-section {
  @apply flex flex-col gap-4 p-4 m-4 bg-primary rounded-lg w-[17rem] h-[calc(100vh-7rem)];
}

.section-header {
  @apply flex items-center gap-2 justify-between w-full;
}

.btn-primary {
  @apply flex items-center gap-1 rounded-sm py-1 px-4 w-fit bg-secondary hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-800 text-primary;
}

.scrollable-content {
  @apply relative h-full overflow-y-auto;
}

.customer-card {
  @apply flex justify-between items-center py-2 px-4 bg-primary10 hover:bg-zinc-800 rounded w-full;
}

.customer-info {
  @apply flex flex-col items-center;
}

.stars {
  @apply flex gap-[2px] text-onPrimary;
}

.customer-actions {
  @apply relative flex flex-col gap-1;
}

.dropdown-list {
  @apply py-2 text-sm text-onPrimary10;
}

.dropdown-list a {
  @apply block px-4 py-2 hover:bg-zinc-600 text-zinc-200 hover:text-white;
}

.btn-sm {
  @apply text-lg leading-none text-onPrimary rounded focus:ring-2 focus:outline-none hover:bg-zinc-700 focus:ring-zinc-600;
}


/* Hide the default dropdown arrow */
/* select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
} */

/* Custom styles for the select dropdown */
/* .custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #202020;
  color: #f9f9fb;
  border: none;
  cursor: pointer;
  padding-right: 2.5rem;
} */

/* Style the dropdown options */
/* .custom-select option {
  background-color: #202020;
  color: #e0e0e0;
  padding: 10px;
  line-height: 1.5;
} */

/* Remove blue highlight on hover (browser default) */
/* .custom-select option:checked,
.custom-select option:focus,
.custom-select option:hover {
  background-color: #3a3a3a !important;
  color: white !important;
} */